html {
    background-image: url("../img/fond.png");
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-weight: lighter;
}


h2 {
    text-align: center;
    font-weight: lighter;
    font-family: serif;
}

main {
    min-width: 800px;
    max-width: 1100px;
    margin: auto;
}

.navbar {
    width: 100%;
    height: auto;
    margin-top: 2%;
    border-top: 5px solid rgb(28, 153, 158);
    border-bottom: 5px solid rgb(28, 153, 158);
    background-color: rgb(0, 178, 178);
    color: white;
    text-align: center;
}

.comment {
    margin-right:4%;
}


.welcome {
    
    text-align:center;
    font-weight: lighter;
    color: rgb(70, 76, 84);
}

section {
    float: left;
    width: 70%;
    color: #666666;
    background-color: rgb(178, 221, 219);
}

.food {
    background-color: rgb(178, 221, 219);
    display: inline-block;
    vertical-align : top;
    width: calc(50% - 4em);
    margin: 2em;
}

.image {
    width: 40%;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

aside {
    margin-left: 72% ;
    background-color: rgb(36, 176, 176);
    border:5px solid rgb(28, 153, 158) ;
    color: white;
    font-family: 'oswald',sans-serif;

}
footer
{
    padding-top: 70px;
    clear: both;
    text-align: center;
    
}